@import url(./styles/reset.css);
@import url(./styles/fonts//Roboto/fonts-Roboto.css);

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color--green: #09cf00;
  --color--darkgreen: #00980f;
  --color--lightgray: #fdfdfd;
  --color--gray: #eeeeee;
  --color--darkgray: #727f88;
}

/* 1rem 10px 단위 설정   */
html {
  font-size: 62.5%;
  letter-spacing: -0.05px;
}
